*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
*.log
*.swp
*~
.*.swp
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
